@page
@model AccessDeniedModel

@{
    ViewData["Title"] = "Доступ запрещён";
}

<div class="text-center">
    <h1 class="text-danger">Доступ запрещён</h1>
    <p class="text-danger">У вас нет доступа к этой странице.</p>
</div>