@page
@model IndexModel

@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в Фото Агентство</h1>
    <p>Мы предоставляем лучшие услуги по фотосъемке. <a asp-page="/Register">Зарегистрируйтесь</a> или <a asp-page="/Login">войдите</a>.</p>
</div>