@page
@model PaymentsModel

@{
    ViewData["Title"] = "Платежи";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Список платежей</h2>
    <div class="row mb-5">
        <div class="col-md-12 text-end">
            <a asp-page="/Admin/CreatePayment" class="btn btn-primary mb-3">Добавить платеж</a>
        </div>
    </div>
    <div class="row">
@if (Model.Payments.Any())
{
    @foreach (var payment in Model.Payments)
    {
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Платёж #@payment.Id</h5>
                            <p class="card-text">Сумма: @payment.Amount</p>
                            <p class="card-text">Комиссия: @(payment.Amount / 5) </p>
                            <p class="card-text">Дата: @payment.PaymentDate</p>
                            <p class="card-text">Метод: @payment.PaymentMethod</p>
                            <p class="card-text">Заказ: #@payment.OrderId </p>
                        </div>
                    </div>
                </div>
    }
}
